# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.venv/
env/
venv/
*.env

# Logs
logs/
*.log

# Databases
db/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Sensitive Information
config/paths_to_monitor.txt  # You might want to exclude this if it contains sensitive paths

# Backup files
*.bak
*.swp
